@font-face {
  font-family: gilroy;
  src: url(./Gilroy-Medium.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* navbar */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 1vw;
}

#nav > h3 {
  font-family: gilroy;
  font-weight: 400;
  font-size: 2.5vw;
}

#nav > button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1.2vw;
}

/* page */
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#loop {
  width: 100%;
  height: 25%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  font-family: gilroy;
}

#loop > h1 {
  font-weight: 400;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#loop > h1 > span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}

@keyframes anim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#page > h3 {
  width: 33%;
  position: absolute;
  top: 65%;
  font-family: gilroy;
  font-weight: 400;
  color: #7c7c7c;
  left: 5%;
}

#page > h3 span {
  margin-left: 3vw;
  font-family: gilroy;
  font-weight: 500;
}

canvas {
  position: fixed;
  bottom: 0;
  z-index: 1;
  max-width: 100vw;
  max-height: 100vh;
}

/* page1 */
#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page1 > #right-text {
  position: absolute;
  top: 30%;
  left: 10%;
}

#page1 > #right-text > h3 {
  font-weight: 400;
  color: #7c7c7c;
}

#page1 > #right-text > h1 {
  line-height: 1.5;
  font-size: 50px;
}

#page1 > #left-text {
  position: absolute;
  top: 50%;
  right: 10%;
  text-align: end;
}

#page1 > #left-text > h1 {
  font-size: 50px;
  line-height: 1.5;
}

#page1 > #left-text > h3 {
  color: #7c7c7c;
  font-weight: 400;
}

/* page2 */
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page2 > #text1 {
  position: absolute;
  top: 30%;
  left: 10%;
}

#page2 > #text1 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}

#page2 > #text1 > h1 {
  font-size: 60px;
  line-height: 1.5;
}

#page2 > #text2 {
  position: absolute;
  top: 55%;
  right: 10%;
  text-align: end;
  width: 30%;
}

#page2 > #text2 > p {
  color: #7c7c7c;
  font-weight: 400;
}

/* page3 */
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page3 > #text3 {
  position: absolute;
  top: 38%;
  right: 10%;
  text-align: end;
}

#page3 > #text3 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}

#page3 > #text3 > h1 {
  font-size: 70px;
}

@media (max-width: 768px) {
  #page,
  #page1,
  #page2,
  #page3 {
    z-index: 99999;
  }

  /* navbar */
  #nav > h3 {
    font-size: 5vh;
  }

  #nav > button {
    font-size: 1.5vh;
  }

  /* page */

  #loop > h1 {
    font-size: 25vh;
    font-weight: 400;
  }

  #page > h3 {
    width: 80%;
    color: #454545;
    top: 75%;
    z-index: 99999;
  }

  /* page1 */

  #page1 > #right-text {
    top: 10%;
  }

  #page1 > #right-text > h3 {
    font-size: 2vh;
  }

  #page1 > #right-text > h1 {
    font-size: 7vh;
    line-height: 9vh;
  }

  #page1 > #left-text > h1 {
    font-size: 7vh;
    line-height: 9vh;
  }

  #page1 > #left-text > h3 {
    font-size: 2vh;
  }

  /* page2 */

  #page2 > #text1 {
    top: 10%;
    left: 10%;
  }

  #page2 > #text2 {
    top: 60%;

    width: 80%;
  }

  /* page3 */

  #page3 > #text3 {
    top: 30%;
  }

  #page3 > #text3 > h1 {
    font-size: 6.5vh;
  }
  #page3 > #text3 {
    top: 60%;
   
  }
  
}


@media (max-width: 340px){
   /* navbar */
   #nav > h3 {
    font-size: 4vh;
  }

  #nav > button {
    font-size: 1.3vh;
  }

  #page2 > #text1 > h1 {
    font-size: 8vh;
    line-height:1.3;
  }
  #page3{
    height: 50vh;
  }
  #page3 > #text3 {
    top: 30%;
   
  }
}